

<div class="thumbnail text-center">
    <img style="height: 550px; width: 100%; " src="assets/images/bg.jpg" alt="" class="img-responsive">
  
   <div class="caption row ">
 <div class="col justify-content:center">
    <div > <h2  class="night">The Night </h2></div>
     <div ><h2 class="journey">Journey</h2></div> 
     <div><p>Nothing escaping the great distance of stars. The great closeness of each other when we bend to help each other.</p></div>
     <div id="navbar">
     <nav class=" navbar navbar-expand-lg navbar-light navbar-default fixed-top row" >
   
   <div class="col-10 logo">
           James ALfred
        </div> 
     <div class="col-2 ">
        <a class="login" href="">Sign in</a>
     </div>
           </nav>
         
           <button class="btn btn-primary count">{{numberoffollowers}} Followers</button>
           <br>
           <button class="follow" (click)="followButtonClick()">Follow me</button> 
 
 
 
 
 
           